<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!-- 加载配置属性文件 -->
  <context:property-placeholder ignore-unresolvable="true" location="classpath:big*.properties" />	
  <util:properties id="BIG_PROPERTIES" location="classpath:big.properties" local-override="true"/>

  <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
  		<property name="dataSource" ref="dataSource" />
  		<property name="databaseSchemaUpdate" value="${activiti.databaseSchemaUpdate}" />
  		<property name="tablePrefixIsSchema" value="${activiti.tablePrefixIsSchema}" />
  		<property name="databaseTablePrefix" value="${activiti.tablePrefix}." />
  		<property name="databaseCatalog" value="${activiti.tablePrefix}" />
  		
  		<property name="history" value="full" /><!-- 历史记录保存模式 -->

		<!-- UUID作为主键生成策略 -->
		<property name="idGenerator" ref="idGen" />
		
		<!-- 生成流程图的字体 -->
		<property name="activityFontName" value="${activiti.diagram.activityFontName}"/>
		<property name="labelFontName" value="${activiti.diagram.labelFontName}"/>
		<property name="annotationFontName" value="${activiti.diagram.annotationFontName}"/>
		
		<!-- 自定义用户权限 ，必须重新实现用户和组的相应方法-->
		<property name="customSessionFactories"> 
			<list>
				<bean class="com.it313.big.modules.act.service.ext.ActUserEntityServiceFactory"/>
				<bean class="com.it313.big.modules.act.service.ext.ActGroupEntityServiceFactory"/>
			</list>
		</property>
  		
  </bean>
	
  <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration"/>
  </bean>
  
  <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"/>
  <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"/>
  <bean id="formService" factory-bean="processEngine" factory-method="getFormService"/>
  <bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService"/>
  <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"/>
  <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"/>
  <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"/>
  
</beans>